name: Build
on:
  push:
    branches: [ dev, hotfix/*, feature/*, release/* ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: node-modules-${{ hashfiles('**/package-lock.json') }}
      - name: Github checkout
        uses: actions/checkout@v2
      - name: Setup node.js environment
        uses: actions/setup-node@v1
        with:
          node-version: '16.6.2'
      - name: Install NPM dependencies
        run: npm i
      - name: Execute units tests
        run: npm run ci:coverage
